html
  head
    link(rel='stylesheet', href='/index.css')
    script(src='/script.js')
    script(src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js")
  body
    .container 
      h1 Click to download !
      hr
      div
        each data in {items}
          each item, index in data
            div.item
              div.card
                h2= item.url
                p= item.size
                div.row
                  a(href='/get/' + item.url) Download
                  button(onclick='generateQR("get/' + item.url+'",'+index+')') Get QR
                div(id="qr-code-"+index)
