/* styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  font-family: "Poppins";
  background: #ffeeee;
}

a {
  padding: 10px;
  font-weight: bold;
  color: white;
  border-radius: 9px;
  text-decoration: none;
}

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card {
  width: 50%;
  border-radius: 10px;
  background: #393949;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:hover,
button:hover {
  background: #288578;
  scale: 1.1;
  transition-duration: 200ms;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

button {
  border: none;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 9px;
  font-size: 16px;
  background: transparent;
  font-family: "Poppins";
}

[id^="qr-code-"] {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: white;
}

.item {
  border-radius: 15px;
  border: #009973 solid 2;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

p,
h2 {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.row {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
